ul.ablog-archive {list-style: none; overflow: auto; margin-left: 0px}
ul.ablog-archive li {float: left; margin-right: 5px; font-size: 80%}
ul.postlist a {font-style: italic;}
ul.postlist-style-disc {list-style-type: disc;}
ul.postlist-style-none {list-style-type: none;}
ul.postlist-style-circle {list-style-type: circle;}
