/*
Github
*/

#github_visualization_main_container {
	font-family: Arial, Helvetica, sans-serif;
}

/* basic stats styles */
.github_visualization_basic_stats_container {
	display: block;
	overflow: auto;
}

.github_visualization_basic_stats {
	background: rgb(255, 255, 255);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	font-weight: bold;
	margin: 1.4%;
	width: 47.2%;
	float: left;
	min-width: 50px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	border-radius: 12.5px;
}

.stat_holder {
	display: flex;
	align-items: center;

	position: relative;
	overflow: hidden;

	padding: 4%;

}

.stat_holder:hover .basic_stat_icon_holder {
	box-shadow: rgba(153, 0, 0, 0.1) 0px 8px 24px;
}

.stat_holder:hover .background_icon {
	color: rgba(153, 0, 0, 0.3);
}

.stat_holder:hover .stat-value {
	color: rgba(40, 167, 69);
}

.stat-value {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(40, 167, 69, 0.8);
	transition: all 0.2s ease;
}

.background_icon {
	position: absolute;
	font-size: 8em;

	top: 7px;
	right: -45px;

	color: rgba(153, 0, 0, 0.04);
	transition: all 0.2s ease;
}

.basic_stat_icon {
	font-size: 22px;
	color: rgb(153, 0, 0);
}

.basic_stat_icon_holder {
	height: 46px;
	width: 46px;

	border-radius: 50%;

	background-color: rgba(153, 0, 0, 0.1);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 20px;
	transition: all 0.2s ease;
}

/* contributors styles */

#github_visualization_contributors_wrapper {
	display: block;
	overflow: hidden;
	margin-top: 20px;
}

.github_visualization_contributor_info {
	padding: 2%;
	margin: 0.6%;
	width: 32%;
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition: all 0.4s;
}

.github_visualization_contributor_info:hover 
.github_visualization_contributor_img {
	width: 10em;
	height: 10em;
}

.github_visualization_contributor_img_holder {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(153, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.github_visualization_contributor_img {
	width: 8em;
	height: 8em;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	transition: all 0.5s ease;
}

@keyframes imgloader {
	0% { opacity: 0.1; }
	50% { opacity: 0.3; }
	100% { opacity: 0.1; }
}
.img-loading {
	width: 8em;
	height: 8em;
	background: url('../images/default_avatar.png') center;
	background-size: cover;
	opacity: 0.2;
	transition: all 0.5s ease;
	animation-name: imgloader;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

.github_visualization_contributor_name {
	display: block;
	text-align: center;
	padding-top: 1em;
	font-size: 1.1em;
	font-weight: 600;
	color: #515151;
}

.github_visualization_contributor_commits {
	display: block;
	text-align: center;
}

.github_visualization_contributor_additions {
	color: #409340;
	width: 48%;
	padding: 1%;
	text-align: right;
	display: block;
	float: left;
}

.github_visualization_contributor_deletions {
	color: #d45a5a;
	width: 48%;
	padding: 1%;
	text-align: left;
	float: left;
	display: block;
}

@media (max-width: 768px) {
	.github_visualization_basic_stats {
		width: 98.8%;
	}

	.github_visualization_contributor_info {
		width: 48.8%;
	}

}


@media (max-width: 400px) {
	.github_visualization_contributor_info {
		width: 98.8%;
	}

}