/* Introducing a new css file for handling navbar css */

/* We will be refractoring all the css of navbar and have single source of truth */

@import "../vendor/vars.css";

/* Introduces the color change and highlight */

/* Log:3/3/24
with updating pydata-theme, I had to change some styles because dark mode was introduced. */

.bd-header {
  background-color: var(--colorPrimaryDark) !important;
}

.theme-switch-button {
  color: white !important;
}

.bd-header .navbar-nav li a.nav-link,
.search-button,
.navbar-item {
  color: white;
}

/* To remove highlight for logo text */
.navbar-item:hover #navbar-logo-text {
  color: var(--colorPrimaryDark);
}

/* For mobile version color handling */
@media screen and (max-width: 960px) {
  .navbar-nav li a {
    color: var(--colorPrimaryDark);
  }
}
