.sponsors-wrapper {
  margin: 50px 0;
  width: 100%;
}

.sponsors-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  letter-spacing: 1.5px;
  font-size: 27px;
  font-weight: bold;
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .sponsors {
    flex-direction: column;
  }
}

.sponsors-logo {
  width: 220px;
  height: 200px;

  padding: 0 10px;

  display: flex;
  align-items: center;
}

.cite {
  color:  var(--colorPrimaryDark);
  font-weight: 600;
}

.cite-wrapper {
  padding: 20px;
  max-width: 1152px;
  margin: 40px auto 0;
  border-radius: 10px;
  border: 3px solid var(--colorPrimaryDark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 767px) {
  .cite-wrapper {
    margin: 20px 20px 0;
  }
}
